{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <script src={% static 'js/jquery-2.1.4.min.js' %}></script>
  <script src={% static 'js/utils.js' %}></script>
  <title>Grissli</title>
</head>
<body>
<h1>GRISSLI</h1>
<table id="tbl">
  <tr>
    <td style="vertical-align: top"><textarea readonly="true" id="txt1" style="width: 500px; height: 500px"></textarea></td>
    <td style="vertical-align: top"><textarea readonly="true" id="txt2" style="width: 500px; height: 500px"></textarea></td>
  </tr>
</table>

<script>
  var ws = new WebSocket("ws://localhost:8888/websocket");
  ws.onmessage = function (evt) {
    data = JSON.parse(evt.data);
    data.forEach(function (x, index) {
      date = new Date(x.time_processing).format("dd.mm.yyyy HH:mm:ss");
      $('#txt1').append(String.format('дата<{0}>:{1} [result: {2}]\n', date,
              x.url, x.success));

      var txt2 = $('#txt2');
      txt2.val(String.format('{4} {0} - {1} {2} {3} \n', x.url,
              x.title == "" ? x.title : String.format('title: {0}, ', x.title),
              x.coding == "" ? x.coding : String.format('coding: {0},  ', x.coding),
              x.h1 == "" ? x.h1 : String.format('h1: "{0}"', x.h1), txt2.val()
              ));
    });

    ws.send('ok');
  };
</script>


</body >
</html >

